.Battle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("/src/images/maps/StreetBattle.png");
  background-size: cover;
  image-rendering: pixelated;
}

.Battle_hero,
.Battle_enemy {
  position: absolute;
  transform: scale(2);
  width: 32px;
  height: 32px;
  overflow: hidden;
  background: url("/src/images/characters/shadow.png");
}

.Battle_hero img,
.Battle_enemy img {
  pointer-events: none;
}

.Battle_hero {
  bottom: 57px;
  left: 1px;
}

.Battle_hero img {
  transform: translateY(-64px);
}

.Battle_enemy {
  top: 42px;
  right: -1px;
}

@keyframes battle-damage-blink {
  to {
    visibility: hidden;
  }
}

.battle-damage-blink {
  animation: battle-damage-blink 0.3s steps(2, start) infinite;
}

@keyframes battle-spin-right {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
  }
  25% {
    transform: translate3d(155px, -30px, 0) rotate(45deg) scale(2);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(2);
  }
}

.battle-spin-right {
  animation: battle-spin-right 0.8s;
}

@keyframes battle-spin-left {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) scale(2);
  }
  25% {
    transform: translate3d(-100%, 25%, 0) rotate(45deg) scale(2);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(2);
  }
}

.battle-spin-left {
  animation: battle-spin-left 0.8s;
}
